Assignments/1_OpenMP/dump.txt
Tutorials/T1/Dump/
Tutorials/T2/Dump/
Tutorials/T4/Dump/
Tutorials/T1/.vscode/
Tutorials/T2/.vscode/
Tutorials/T3/.vscode/
Tutorials/T4/.vscode/
Tutorials/T5/.vscode/
Assignments/1_OpenMP/.vscode/
Tutorials/T8/tmp.cpp